.containerFiles
	width 280px
	height 600px
	padding-right 20px
	display inline-block
	border 5px solid #919191
	overflow-y: scroll
	&:hover
		border 5px dashed #727272

.image
	img
		width 240px
		margin 0 auto
		height 140px
		display block
		padding 3px
		border 1px solid #454545

#files
	display block

.table
	width 750px
	height 800px
	display inline-block
	border 1px solid blue
	margin-left 30px

.containerFiles,
.container_table
	vertical-align: top

.default
	width 750px
	padding 0
	border 1px solid #444
	height 100px

.wrapper
	width 850px
	margin-left 20px
	display inline-block
	border 1px solid #635
	height 1000px
	margin-top 20px
	background #000