extends ./jade/layouts/layout.jade

block title
	title= "Drag and Drop"

block content
	input#files( type="file", name="files[]", multiple )
	.containerFiles
	.wrapper
		table.container_table(width="100%", border="0", cellspacing="0", cellpadding="0")
			tr
				td(valign="top", align="center")
					table(width="100%", border="0", cellspacing="0", cellpadding="0" align="center")
						tr
							td(valign="top", align="center")
								table#main_table(width="750", height="800", align="center", cellpadding="0", cellspacing="0", draggable="true", ondragstart="drag(event)")
									

